body {

    background-color:var(--priamry);

}

:root {
    --primary-x: #ffff;
    --priamry:#faf;
    --priamry-10:rgb(226, 154, 226);
    --primary-20:rgb(200, 136, 200);
    --primary-0: #000000;
}

.dark{

    background-color: #000000;
    color: var(--primary-x);

}

div{

    height: 50px;
    width: 50px;
    background-color: blue;
}