@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 41, 0.867);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.back_div {

    height: 400px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(57, 57, 249);


}

.inside_div {

    height: 300px;
    width: 500px;
    background-color: rgb(1, 1, 69);
    border-radius: 10px;
    position: relative;
    right: 50px;
    top: 50px;

}

#span {

    color: white;
    font-size: 65px;
    font-family: 'Roboto';
    position: absolute;
    left: 47%;
    top: 40px;
}   

img {

    width: 10px;

}

#btn_minus, #btn_plus{

    background-color: rgb(57, 57, 249);
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    cursor: pointer;

}

.symbol {

    font-size: 25px;
    font-family: 'Roboto';

}

#btn_restart {

    background-color: rgb(1, 1, 69);
    border: 1px solid rgb(57, 57, 249);
    height: 40px;
    width: 100px;
    cursor: pointer;

}

.for_btn {

    display: flex;
    gap: 20px;
    position: absolute;
    top: 60%;
    left: 85px;

}