body{

    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.d1{

    background-color: hsl(235, 46%, 20%);
    height: 350px;
    width: 200px;
    border-radius: 5px;
}
.d-main{

    width: 500px;
    height: 500px;
    display: grid;
    
}
.d2{

    background-color: hsl(235, 46%, 20%);
    height: 175px;
    width: 200px;
    border-radius: 5px;

}