.bodys{

    background-color: green;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.card{

    height: 100px;
    width: 100px;
    animation-name: card;
    animation-timing-function: ease;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-color: green;
    color: green;
}
@keyframes card {
    0%{
        transform: translate(1px);

    }
    50%{

        transform: translate(50vh);
        background-color: lightgreen;
    }
    100%{

        transform: translate(100vh);
        
        
    }
    
}
