@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(253, 10, 10, 0.586);
    height: 100vh;
    width: 100%;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;

}

.holder_div{

    height: 300px;
    width: 500px;
    background-color: rgba(255, 192, 203, 0.696);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 7px 0px;

}

.name_span{

    font-size: 25px;
    padding-top: 45px;
    padding-left: 20px;

}

#main_txt{

    height: 100px;
    width: 450px;
    margin: 15px;

}

.txt_holder{

    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;

}
#counter,#left{

    color: rgb(70, 70, 70);
    font-size: 18px;
    margin-left: 90px;

}

#debuger{

    border: none;
    border-radius: 18px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin-left: 170px;
    margin-top: 10px;

}