@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
body {

    height: 100vh;
    width: 100%;
    background-color: hsl(222, 26%, 31%);
    font-family: 'League Spartan';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}   

main{

    height: 80vh;
    width:  80%;
    
}

#calc{

    color: white;
    font-weight: 500;
    font-size: 20px;

}

#theme{

    display: flex;
    gap: 25px;
    align-items: center;
    position: relative;
    left: 255px;
    bottom: 25px;
}

#theme_btn {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    bottom: 8px;
    
}

#text {

    display: flex;
    gap: 20px;
    font-weight: 300;
    font-size: 15px;

}
#theme_span {

    color: white;
    font-weight: 300;
    font-size: 18px;
    
}
#input {

    width: 100%;
    height: 90px;
    background-color: hsl(224, 36%, 15%);
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    
}   

#input_span{

    padding-right: 30px;

}

#main_key_pad {

    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    
}   
#num_1,#num_2,#num_3,#num_4,#num_5,#num_6,#num_7,#num_8,#num_9,#delete,#plus,#resete,#minus,#equal,#num_0,#divide,#dot,#multi{

    background-color: hsl(0, 0%, 90%);
    height: 50px;
    width: 75px;
    border: none;
    border-radius: 9px;
    color: hsl(223, 31%, 20%);
    font-size: 22px;
    font-weight: 700;

}
#resete{

    width: 180px;
    background-color: hsl(225, 21%, 49%);
    color: white;

}   
#equal{

    background-color: hsl(6, 63%, 50%);
    color: white;
    width: 160px;

}
.key_div {

    display: flex;
    gap: 20px;

}
#mini_ball {

    height: 14px;
    width: 14px;
    background-color: hsl(6, 63%, 50%);
    border-radius: 10px;
    position: relative;
    left: 5%;

}
#btn{

    border: none;
    border-radius: 50px;
    background-color: hsl(223, 31%, 20%);
    height: 25px;
    width: 80px;
    color: white;
    display: flex;
    align-items: center;

}