@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.826);
}

#form{

    background-color: white;
    padding: 40px 50px 50px 50px;
    border-radius: 10px;
    border: rgb(228, 228, 5) 3px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
    align-items: center;
    gap: 30px;

}

#for_inner {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

#reg {
    font-size: 28px;
}

input{

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: grey 1px solid;
    padding-bottom: 10px;

}
button{

    border: none;
    height: 30px;
    width: 175px;
    background-color: rgba(255, 0, 13, 0.633);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;

}
#btt{

    border: none;
    height: 30px;
    width: 175px;
    background-color: rgba(231, 231, 1, 0.825);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;

}  

#btt:hover {

    border: none;
    height: 35px;
    width: 180px;
    background-color: rgba(231, 231, 1, 0.825);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
    transition: 0.1s;

}

button:hover{

    border: none;
    height: 35px;
    width: 180px;
    background-color: rgba(255, 0, 13, 0.633);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
    transition: 0.1s;

}
ul {

    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: rgba(255, 0, 13, 0.633) 3px solid;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    gap: 20px;

}   


span{
    font-size: 28px;
    margin-bottom: 20px;
}

button{
    margin-left: 30px;
}