*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{

background-color: rgb(236, 200, 153);

}
a{
color: brown;
margin-left: 40px;

}
.d1,.d2{

background-color: rgba(217, 102, 102, 0.327);

}