@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    height: 100vh;
    width: 100%;

}

#name_span {

    font-size: 55px;
    font-weight: 600;
    margin-left: 620px;
    margin-top: 30px;

}

#toChange {

    width: 70px;
    margin-left: 820px;
    margin-top: 85px;

}

#roll_btn {

    background-color: rgba(0, 28, 140, 0.522);
    border-radius: 20px;
    border: none;
    height: 70px;
    width: 180px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 765px;
    margin-top: 45px;

}

/* ------------------------Js/Css------------------------ */

.new_div{

    height: 100px;
    width: 600px;
    background-color: rgba(128, 128, 128, 0.078);
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px;
    margin-left: 550px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;

}

.new_span{

    font-size: 25px;

}

.new_img{

    width: 30px;

}