@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

body {

    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {

    background-color: rgb(187, 2, 138);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}   

#bur{

    cursor: pointer;
    width: 30px;

}

#logo {

    color: white;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    display: flex;
    align-items: center;
}

#logo_cont{

    position: relative;
    right: 150%;
}

#section {

    display: flex;
    flex-direction: column;
    gap: 5px;

}


#a_s{

    display: flex;
    gap: 15px;
    font-weight: 500;
    background-color: rgb(187, 2, 138);
    border: none;
    color: white;
    font-size: 17px;

}

#Sign_btn{

    cursor: pointer;

}

#home_btn{

    text-decoration: none;
    color: white;

}

main {

    height: 80vh;

}

#header_div {

    color: black;
    font-size: 40px;
    font-weight: 500;
    width: 600px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 10%;

}

#chat_box_text {

    font-size: 35px;
    width: 300px;

}

#tell_more,
#bye {

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 50px;

}

.design_img {

    width: 775.5px;
    position: absolute;
    z-index: -1;
    left: 54.5%;

}



.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {

    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-50px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-image: linear-gradient(145deg,pink,white);

}   

.modal.active .modal-content {
    transform: translateY(0);
}

#closeModal {

    background-color: white;
    border: none;
    color: grey;

}

#name {

    border: none;
    border-bottom: 1px solid #555;
    outline: none;
    padding-bottom: 10px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
}

#name:focus {
  border-bottom-color: #bb028a;
  border: 1px solid grey;
  padding: 5px;
}

#pass {

    border: none;
    border-bottom: 1px solid #555;
    outline: none;
    padding-bottom: 10px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
}

#pass:focus {
  border-bottom-color: #bb028a;
  border: 1px solid grey;
  padding: 5px;
}
#loginBtn{

    width: 300px;
    height: 35px;
    border: none;
    background-color: rgb(187, 2, 138);
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 18px;
    position: absolute;
    top: 75%;
    left: 25%;
}       

#closeModal{

    position: absolute;
    top: 89%;
    left: 47.8%;
    background-color: rgba(255, 255, 255, 0);
}
#cont{

    width: 150px;
    position: absolute;
    left: 63%;
    top: 20%;

}