@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
body{

    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}   

header{

    background-color: rgb(187, 2, 138);
    height: 150px;
    width: 100%;
    display: flex;   
    justify-content: space-around;
    align-items: center;

}   

#logo{

    color: white;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    

}

#section{

    display: flex;
    flex-direction: column;
    gap: 5px;

}
.stick_1{
    width: 40px;
    height: 3px;
    background-color: rgba(230, 230, 230, 0.979);
}
.stick_2{

    width: 40px;
    height: 3px;
    background-color: rgba(230, 230, 230, 0.979);

}
.stick_3{

    width: 40px;
    height: 3px;
    background-color: rgba(230, 230, 230, 0.979);

}

#home_btn{

    background-color: rgb(187, 2, 138);
    font-weight: 100;
    border: none;
    color: white;
    font-size: 17px;

}

#Sign_btn{

    background-color: rgb(187, 2, 138);
    font-weight: 100;
    border: none;
    color: white;
    font-size: 17px;

}

#About{

    background-color: rgb(187, 2, 138);
    font-weight: 100;
    border: none;
    color: white;
    font-size: 17px;

}

main{

    height: 80vh;

}

#header_div{

    color: black;
    font-size: 40px;
    font-weight: 500;
    width: 600px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 10%;

}

#chat_box_text{

    font-size: 35px;
    width: 300px;

}

#tell_more,#bye{

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 50px;

}

.design_img{

    width: 601px;
    position: absolute;
    z-index: -1;
    left: 64.8%;

}

