@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');




body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
}

#stats {
    margin: 10px;
    font-size: 18px;
    
}

#gamearea {
    width: 95%;
    max-width: 600px;
    height: 450px;
    margin: 15px auto;
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    overflow: hidden;
}

.box {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s;
}

.box:hover {
    transform: scale(1.1);
}

.normal {
    background: #00e676;
}

.bomb {
    background: #ff1744;
}

.power {
    background: #00b0ff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #ff9800;
    color: white;
    margin-bottom: 10px;
}

button:hover {
    background: #ff5722;
}

#gamearea {
    width: 95%;
    max-width: 600px;
    height: 450px;
    margin: 15px auto;
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #122c5e;
}


.box {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s, opacity 0.2s;
    animation: pop 0.15s ease-out;
}

#gameover {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.title-green {
    color: #00e676;
}

.title-red {
    color: #ff1744;
}

.title-blue {
    color: #00b0ff;
}

.title-orange {
    color: #ff9800;
}

#title span {
    font-size: 42px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

#title span:nth-child(1):hover {
    color: #00e676;
}

#title span:nth-child(2):hover {
    color: #ff1744;
}

#title span:nth-child(3):hover {
    color: #00b0ff;
}

#title span:nth-child(4):hover {
    color: #ff9800;
}

#title span:nth-child(5):hover {
    color: #00e676;
}

#title span:nth-child(6):hover {
    color: #ff1744;
}

#title span:nth-child(7):hover {
    color: #00b0ff;
}

#title span:nth-child(8):hover {
    color: #ff9800;
}

#title span:hover {
    text-shadow: 0 0 10px currentColor;
    transform: scale(1.2);
}

.normal {
    background: #00e676;
    box-shadow: 0 0 12px #00e676;
}

.bomb {
    background: #ff1744;
    box-shadow: 0 0 12px #ff1744;
}

.power {
    background: #00b0ff;
    box-shadow: 0 0 12px #00b0ff;
}

.normal {
    background: #00e676;
    box-shadow:
        0 0 10px #00e676,
        0 0 20px #00e676,
        0 0 30px #00e676;
}

.bomb {
    background: #ff1744;
    box-shadow:
        0 0 10px #ff1744,
        0 0 20px #ff1744,
        0 0 30px #ff1744;
}

.power {
    background: #00b0ff;
    box-shadow:
        0 0 10px #00b0ff,
        0 0 20px #00b0ff,
        0 0 30px #00b0ff;
}