body{

    display: grid;
    height: 100vh;
    width: 100%;
    background-color: lightpink;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
}
.d1{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

