@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-family: 'Kumbh Sans';

}

header {

    width: 80%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.454);
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    height: 150px;
    margin-left: 180px;

}

#txt {

    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 530px;

}

#col,
#men,
#women,
#abt,
#help {

    border: none;
    background-color: white;
    color: grey;
    font-size: 15px;

}

#col:hover,
#men:hover,
#women:hover,
#abt:hover,
#help:hover {

    color: black;
    font-size: 17px;
    cursor: pointer;

}

#logo {

    height: 30px;
    margin-bottom: 10px;

}

#buttons_div {

    display: flex;
    align-items: center;
    gap: 35px;

}

#cart {

    width: 30px;
    cursor: pointer;
}

#prof {

    width: 55px;

}

#prof:hover {

    border-radius: 50px;
    border: 3px solid hsl(26, 100%, 55%);
    cursor: pointer;

}

main {

    display: flex;

}

#main_div_img {

    margin-left: 250px;
    margin-top: 80px;

}

#main_img {

    width: 410px;
    border-radius: 16px;

}

#image_holder {

    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}

#product_1,
#product_2,
#product_3,
#product_4 {

    width: 87px;
    border-radius: 8px;

}

#product_1:hover,
#product_2:hover,
#product_3:hover,
#product_4:hover {

    opacity: 0.6;
    cursor: pointer;

}

.selected {

    border: 3px solid hsl(26, 100%, 55%);

}

.snk {

    font-size: 15px;
    font-weight: 500;
    color: rgb(99, 99, 99);

}

.fll {

    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1.5px;

}

.descp {

    display: flex;
    flex-direction: column;
    gap: 3px;

}

.lala {

    color: grey;
    font-size: 17px;

}

#main_div_text {

    margin-left: 250px;
    margin-top: 100px;

}

#price {

    display: flex;
    align-items: end;
    gap: 30px;

}

#no_indirim {

    font-size: 43px;
    font-weight: 500;

}

#indirim {

    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 5px;

}

#past {

    color: grey;
    text-decoration: line-through;
    font-weight: 700;

}

#price_btns {

    display: flex;
    gap: 15px;
}

#btn_wannabe {

    background-color: rgba(128, 128, 128, 0.059);
    width: 150px;
    height: 55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#minus {

    cursor: pointer;
    width: 15px;
}

#plus {

    cursor: pointer;
    width: 15px;
}


#amount {

    font-size: 18px;
    font-weight: 500;

}

#wanna_be_too {

    background-color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 8px;
    justify-content: center;
    gap: 10px;

}

#wanna_be_too:hover {

    opacity: 0.7;
    cursor: pointer;

}

#cart_add_txt {

    font-weight: 500;

}


#added {

    width: 360px;
    height: 270px;
    box-shadow: 0px 9px 10px 0px rgba(56, 56, 56, 0.565);
    position: absolute;
    left: 70%;
    top: 15%;
    border-radius: 8px;
    z-index: 1;


}

#cart_top {

    color: black;
    font-weight: 700;
    margin: 30px;
    position: relative;
    top: 10%;
}

#empty {

    position: relative;
    top: 52%;
    left: 6%;
    color: grey;
    font-weight: 700;

}

/* ----------JS/CSS----------- */

.new_main {

    width: 530px;
    border-radius: 15px;
    position: absolute;
    top: 19%;
    left: 35%;
    z-index: 1;

}

.grey_bg {

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    top: 0%;

}

.right_btn {

    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    top: 46%;
    left: 64.5%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left_btn {

    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    top: 46%;
    left: 33.5%;
    z-index: 2;
    rotate: 180deg;
    display: flex;
    justify-content: center;
    align-items: center;

}