@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {

    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

#big {

    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 400px;

}

#design {

    height: 100%;
    width: 35%;
    background-image: linear-gradient(120deg, black, purple, black);
    padding: 0.1px;

}

form {

    display: flex;
    flex-direction: column;
    gap: 12px;

}

.inp {

    border-radius: 6px;
    border: 1px solid grey;
    height: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 8px;

}

label {

    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;

}

#lower_inputs {

    display: flex;
    gap: 29px;
    flex-direction: row;

}

#for_date_inputs {

    display: flex;
    flex-direction: column;
    gap: 6px;

}

#dtt {

    display: flex;
    gap: 6px;

}

.date_m {

    width: 60px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid grey;
    padding-left: 8px;

}

#cvv {

    display: flex;
    flex-direction: column;
    gap: 6px;

}

button {

    color: white;
    height: 50px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.875);
    border: none;
    font-size: 16px;
    letter-spacing: 1.3px;

}

#img_1 {

    background-image: url(./images/bg-card-front.png);
    background-size: cover;
    position: absolute;
    width: 320px;
    height: 200px;
    border-radius: 6px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.348);
    bottom: 55%;
    left: 16%;

}

#img_2 {

    position: absolute;
    width: 320px;
    height: 200px;
    border-radius: 6px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.348);
    bottom: 25%;
    left: 19%;

}

#first_circle {

    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 40px;

}

#second_circle {

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    height: 14px;
    width: 14px;
    border-radius: 40px;

}

#circles {

    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    margin-top: 15px;

}



#spans {

    display: flex;
    gap: 8px;
    margin: 45px 35px 35px 25px;

}


.span_card {

    color: white;
    font-size: 25px;
    letter-spacing: 1px;

}

#spans_2 {

    display: flex;
    gap: 85px;
    margin-left: 21px;
    position: absolute;
    bottom: 15px;

}

.info {

    color: white;
    font-size: 14px;
    font-weight: 300;

}

@media (max-width: 376px) {

    #big {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100vh;

    }

    #design {

        background-image: linear-gradient(120deg, black, purple, black);
        width: 100%;
        height: 35%;
        position: absolute;
        top: 0%;
        z-index: -1;

    }

    #img_2 {

        position: absolute;
        width: 260px;
        height: 170px;
        border-radius: 6px;
        box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.348);
        left: 16%;
        bottom: 70%;

    }

    #img_1 {

        background-image: url(./images/bg-card-front.png);
        background-size: cover;
        position: absolute;
        width: 260px;
        height: 170px;
        border-radius: 6px;
        box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.348);
        bottom: 60%;
        left: 8%;
        z-index: 1;

    }

    .inp {

        width: 250px;

    }

    #cvcc {

        width: 70px;

    }

    form {

        position: relative;
        top: 48%;

    }

    #first_circle {

        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 40px;

    }

    #second_circle {

        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        height: 10px;
        width: 10px;
        border-radius: 40px;

    }

    #circles {

        display: flex;
        align-items: center;
        gap: 15px;
        margin: 20px;
        margin-top: 15px;

    }



    #spans {

        display: flex;
        gap: 8px;
        margin: 45px 35px 35px 25px;

    }


    .span_card {

        color: white;
        font-size: 20px;
        letter-spacing: 1px;

    }

    #spans_2 {

        display: flex;
        gap: 85px;
        margin-left: 21px;
        position: absolute;
        bottom: 15px;

    }

    .info {

        color: white;
        font-size: 12px;
        font-weight: 300;

    }

}