body{
    background-color: rgb(101, 74, 219);
    display: flex;
    width: 800px;
    gap: 10px;
    align-content: flex-start;
    flex-wrap: wrap;
}

    
    
    
    .d1{
    text-align: center;
    font-size: 40px;
    width: 100px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    
    
    }