body{

    background-color: hsl(221, 100%, 96%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-main{

    height: 350px;
    width: 524px;
    background-color: white;
    border-radius: 14px;
    font-family: 'Hanken Grotesk';

}
.d2{

    height: 350px;
    width: 262px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 14px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d3{

    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.h2-1{
    font-weight: bold;
    margin: 0;
    font-size: 60px;


}
.p1{

    color: hsl(241, 100%, 89%); 
    font-size: 14px;
}
