body{

background-color: lightgoldenrodyellow;

}

div{

font-family: 'Montserrat';

}

h1,li,a,div{

color:rgb(178, 13, 38)

}

footer{

color:rgb(178, 13, 38)

}
button{

color: rgb(178, 13, 38);    
background-color: lightgoldenrodyellow;

}